<div class="works-item">
    <div class="title">
        <h3><%= item.title %></h3>
        <span class="title-date text-muted">
            <%= item.date %>
        </span>
    </div>
    <div class="works-item-img">
        <img src="<%= item.cover %>">
    </div>
    <div class="works-content">
        <div class="use text-warning">
            <% item.tags.forEach(function(tag){ %>
                <span><%= tag %></span>
            <% }); %>
        </div>
        <p class="subtitle"><%= item.subTitle %></p>

        <p class="text-muted"><%= item.description %></p>
    </div>
    <div class="works-area footer clearfix">
        <a class=" btn btn-default" href="<%= item.link%>" target="_blank">Preview</a>
    </div>
</div>